<html>
<head>
    <title>APIMAN接口测试工具</title>
    <style>
        ul li {
            margin : 5px;
        }
        li span {
            display: inline-block;
            width:100px;
        }
        li input {
            width:250px;
        }
    </style>
    <script></script>
</head>
<body>
<form action="/testset" method="post"
      enctype="application/x-www-form-urlencoded" target="_blank">
    <h2>新建用例集</h2>
    <ul>
        <li><span>用例集名：</span><input type="text" name="name"></li>
        <li><span>DB连接串：</span><input type="text" name="db_str"
                         placeholder="如：mongo://localhost:27017/apiman"></li>
        <li><span>测试用例名：</span><input type="text" name="test_name" placeholder="支持模糊查询"></li>
        <li><span>用例优先级：</span><input type="text" name="test_priority" placeholder="如：1"></li>
        <li><span>用例分类：</span><input type="text" name="category" placeholder="如：登录模块"></li>
        <li><span>用例标签：</span><input type="text" name="tag" placeholder="如：冒烟测试"></li>
        <li><span>用例版本号：</span><input type="text" name="version" placeholder="如：1"></li>
    </ul>
    <input type="submit" value="提交">
</form>
</body>
</html>